In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("/content/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df.drop(columns = ['EIN', 'NAME','STATUS', 'SPECIAL_CONSIDERATIONS'], inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [3]:
app_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = list(app_counts[app_counts<500].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [4]:
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = list(classification_counts[classification_counts<1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [5]:
orgs = application_df['ORGANIZATION'].value_counts()
org_replace = list(orgs[orgs<500].index)
for org in org_replace:
    application_df['ORGANIZATION'] = application_df['ORGANIZATION'].replace(org,"Other")
application_df['ORGANIZATION'].value_counts()

Trust          23515
Association    10255
Other            529
Name: ORGANIZATION, dtype: int64

In [6]:
uses = application_df['USE_CASE'].value_counts()
use_replace = list(uses[uses<500].index)
for use in use_replace:
    application_df['USE_CASE'] = application_df['USE_CASE'].replace(use,"Other")
application_df['USE_CASE'].value_counts()

Preservation    28095
ProductDev       5671
Other             533
Name: USE_CASE, dtype: int64

In [7]:
affliation=application_df['AFFILIATION'].value_counts()
affliation_replace = list(affliation[affliation<500].index)
for aff in affliation_replace:
    application_df['AFFILIATION'] = application_df['AFFILIATION'].replace(aff,"Other")
application_df['AFFILIATION'].value_counts()

Independent         18480
CompanySponsored    15705
Other                 114
Name: AFFILIATION, dtype: int64

In [8]:
income_names = ["1M-5M", "5M-10M", "10M-50M", "50M+"]
for income in income_names:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(income, "1M+")
income_names2=["1-9999", "10000-24999"]
for income in income_names2:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(income, "1-24999")

application_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M+               1519
1-24999           1271
Name: INCOME_AMT, dtype: int64

In [110]:
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1-24999,6692,1
5,T3,Independent,C1200,Preservation,Trust,0,5000,1
9,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
...,...,...,...,...,...,...,...,...
34293,T3,CompanySponsored,C1000,Preservation,Association,0,5000,1
34294,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,5000,1

In [9]:
application_df=application_df.loc[application_df['ASK_AMT']<10000]

In [10]:
dummies = pd.get_dummies(application_df)
dummies.head()
X = dummies.drop('IS_SUCCESSFUL',axis=1).values
y=dummies['IS_SUCCESSFUL'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
input_features = X_train_scaled.shape[1]

In [12]:
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value= 90,
        step=5), activation=activation, input_dim=input_features))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=30,
            step=5),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [13]:
pip install keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras-tuner
  Downloading keras_tuner-1.1.3-py3-none-any.whl (135 kB)
     |████████████████████████████████| 135 kB 14.1 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.23.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (21.3)
Requirement already satisfied: tensorboard in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.9.1)
Collecting kt-legacy
  Downloading kt_legacy-1.0.4-py3-none-any.whl (9.6 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.21.6)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (7.9.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (57.4.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (5.1.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.2.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.4.2)
Collecting jedi>=0.10
  Downloading jedi-0.18.1-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 42.2 MB/s
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.6.1)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.0.10)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython->keras-tuner) (0.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->keras-tuner) (0.2.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->keras-tuner) (1.15.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->keras-tuner) (3.0.9)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->keras-tuner) (0.7.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (3.0.4)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.8.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.6.1)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.50.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (2.14.1)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.3.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.38.4)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.0.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.4.6)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.19.6)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (5.2.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard->keras-tuner) (4.13.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (3.10.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (3.2.2)
Installing collected packages: jedi, kt-legacy, keras-tuner
Successfully installed jedi-0.18.1 keras-tuner-1.1.3 kt-legacy-1.0.4

In [14]:
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=50,
    hyperband_iterations=2)

In [15]:
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 180 Complete [00h 02m 23s]
val_accuracy: 0.7511947154998779

Best val_accuracy So Far: 0.7530445456504822
Total elapsed time: 01h 08m 33s

In [16]:
top_hyper = tuner.get_best_hyperparameters(3)
for params in top_hyper:
  print(params.values)

{'activation': 'tanh', 'first_units': 21, 'num_layers': 2, 'units_0': 11, 'units_1': 1, 'units_2': 16, 'units_3': 6, 'units_4': 1, 'tuner/epochs': 50, 'tuner/initial_epoch': 17, 'tuner/bracket': 3, 'tuner/round': 3, 'tuner/trial_id': '0136'}
{'activation': 'relu', 'first_units': 31, 'num_layers': 2, 'units_0': 26, 'units_1': 26, 'units_2': 16, 'units_3': 21, 'units_4': 26, 'tuner/epochs': 17, 'tuner/initial_epoch': 0, 'tuner/bracket': 1, 'tuner/round': 0}
{'activation': 'tanh', 'first_units': 66, 'num_layers': 2, 'units_0': 21, 'units_1': 11, 'units_2': 6, 'units_3': 26, 'tuner/epochs': 50, 'tuner/initial_epoch': 17, 'tuner/bracket': 2, 'tuner/round': 2, 'tuner/trial_id': '0069'}

In [17]:
top_model = tuner.get_best_models(3)
for model in top_model:
    model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
    print(f'Loss: {model_loss}, Accuracy: {model_accuracy}')

203/203 - 0s - loss: 0.5352 - accuracy: 0.7530 - 474ms/epoch - 2ms/step
Loss: 0.5352209806442261, Accuracy: 0.7530445456504822
203/203 - 0s - loss: 0.5307 - accuracy: 0.7530 - 486ms/epoch - 2ms/step
Loss: 0.5307143926620483, Accuracy: 0.7530445456504822
203/203 - 1s - loss: 0.5299 - accuracy: 0.7527 - 505ms/epoch - 2ms/step
Loss: 0.5298741459846497, Accuracy: 0.7527362704277039

In [23]:
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 21,
 'num_layers': 2,
 'units_0': 11,
 'units_1': 1,
 'units_2': 16,
 'units_3': 6,
 'units_4': 1,
 'tuner/epochs': 50,
 'tuner/initial_epoch': 17,
 'tuner/bracket': 3,
 'tuner/round': 3,
 'tuner/trial_id': '0136'}

In [18]:
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

203/203 - 0s - loss: 0.5352 - accuracy: 0.7530 - 470ms/epoch - 2ms/step
Loss: 0.5352209806442261, Accuracy: 0.7530445456504822

In [28]:
input_features = X_train_scaled.shape[1]
node1 = 21
node2 = 16

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=node1,activation='tanh',input_dim=input_features))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=node2,activation='tanh'))


# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))
# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 21)                651

 dense_11 (Dense)            (None, 16)                352

 dense_12 (Dense)            (None, 1)                 17

=================================================================
Total params: 1,020
Trainable params: 1,020
Non-trainable params: 0
_________________________________________________________________

In [29]:
nn.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
model_fit = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
609/609 [==============================] - 2s 2ms/step - loss: 0.5740 - accuracy: 0.7204
Epoch 2/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7416
Epoch 3/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7447
Epoch 4/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7462
Epoch 5/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7459
Epoch 6/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7462
Epoch 7/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5314 - accuracy: 0.7466
Epoch 8/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7482
Epoch 9/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7492
Epoch 10/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5293 - accuracy: 0.7505
Epoch 11/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5294 - accuracy: 0.7477
Epoch 12/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5285 - accuracy: 0.7495
Epoch 13/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5284 - accuracy: 0.7500
Epoch 14/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5279 - accuracy: 0.7501
Epoch 15/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5275 - accuracy: 0.7497
Epoch 16/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5272 - accuracy: 0.7488
Epoch 17/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5271 - accuracy: 0.7491
Epoch 18/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5270 - accuracy: 0.7511
Epoch 19/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5267 - accuracy: 0.7491
Epoch 20/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5266 - accuracy: 0.7500
Epoch 21/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5265 - accuracy: 0.7489
Epoch 22/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5263 - accuracy: 0.7495
Epoch 23/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5258 - accuracy: 0.7512
Epoch 24/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5261 - accuracy: 0.7487
Epoch 25/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5261 - accuracy: 0.7503
Epoch 26/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5256 - accuracy: 0.7520
Epoch 27/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5256 - accuracy: 0.7511
Epoch 28/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5255 - accuracy: 0.7499
Epoch 29/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5256 - accuracy: 0.7504
Epoch 30/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5254 - accuracy: 0.7520
Epoch 31/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5250 - accuracy: 0.7510
Epoch 32/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5250 - accuracy: 0.7509
Epoch 33/100
609/609 [==============================] - 2s 3ms/step - loss: 0.5247 - accuracy: 0.7508
Epoch 34/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5247 - accuracy: 0.7499
Epoch 35/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5248 - accuracy: 0.7502
Epoch 36/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5244 - accuracy: 0.7511
Epoch 37/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5248 - accuracy: 0.7524
Epoch 38/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5246 - accuracy: 0.7506
Epoch 39/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5246 - accuracy: 0.7502
Epoch 40/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5244 - accuracy: 0.7516
Epoch 41/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5245 - accuracy: 0.7504
Epoch 42/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5240 - accuracy: 0.7509
Epoch 43/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5240 - accuracy: 0.7511
Epoch 44/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5238 - accuracy: 0.7506
Epoch 45/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5236 - accuracy: 0.7504
Epoch 46/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5239 - accuracy: 0.7521
Epoch 47/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5238 - accuracy: 0.7517
Epoch 48/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5237 - accuracy: 0.7513
Epoch 49/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5235 - accuracy: 0.7516
Epoch 50/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5236 - accuracy: 0.7507
Epoch 51/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5231 - accuracy: 0.7512
Epoch 52/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5231 - accuracy: 0.7513
Epoch 53/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5229 - accuracy: 0.7509
Epoch 54/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5238 - accuracy: 0.7514
Epoch 55/100
609/609 [==============================] - 2s 3ms/step - loss: 0.5229 - accuracy: 0.7509
Epoch 56/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5233 - accuracy: 0.7510
Epoch 57/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5229 - accuracy: 0.7513
Epoch 58/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5230 - accuracy: 0.7514
Epoch 59/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5230 - accuracy: 0.7503
Epoch 60/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5227 - accuracy: 0.7530
Epoch 61/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5226 - accuracy: 0.7523
Epoch 62/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5224 - accuracy: 0.7517
Epoch 63/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5229 - accuracy: 0.7508
Epoch 64/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5226 - accuracy: 0.7516
Epoch 65/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5225 - accuracy: 0.7520
Epoch 66/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5225 - accuracy: 0.7519
Epoch 67/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5225 - accuracy: 0.7524
Epoch 68/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5224 - accuracy: 0.7516
Epoch 69/100
609/609 [==============================] - 2s 3ms/step - loss: 0.5222 - accuracy: 0.7526
Epoch 70/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5223 - accuracy: 0.7516
Epoch 71/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5219 - accuracy: 0.7522
Epoch 72/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5221 - accuracy: 0.7521
Epoch 73/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5220 - accuracy: 0.7525
Epoch 74/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5218 - accuracy: 0.7527
Epoch 75/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5221 - accuracy: 0.7520
Epoch 76/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5216 - accuracy: 0.7532
Epoch 77/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5218 - accuracy: 0.7530
Epoch 78/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5218 - accuracy: 0.7514
Epoch 79/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5217 - accuracy: 0.7514
Epoch 80/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5216 - accuracy: 0.7510
Epoch 81/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5211 - accuracy: 0.7525
Epoch 82/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5216 - accuracy: 0.7528
Epoch 83/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5213 - accuracy: 0.7537
Epoch 84/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5218 - accuracy: 0.7523
Epoch 85/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5213 - accuracy: 0.7526
Epoch 86/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5213 - accuracy: 0.7532
Epoch 87/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5211 - accuracy: 0.7524
Epoch 88/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5214 - accuracy: 0.7528
Epoch 89/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5212 - accuracy: 0.7537
Epoch 90/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5212 - accuracy: 0.7528
Epoch 91/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5212 - accuracy: 0.7518
Epoch 92/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5210 - accuracy: 0.7520
Epoch 93/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5208 - accuracy: 0.7533
Epoch 94/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5213 - accuracy: 0.7516
Epoch 95/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5210 - accuracy: 0.7534
Epoch 96/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5205 - accuracy: 0.7525
Epoch 97/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5209 - accuracy: 0.7527
Epoch 98/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5208 - accuracy: 0.7535
Epoch 99/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5208 - accuracy: 0.7529
Epoch 100/100
609/609 [==============================] - 1s 2ms/step - loss: 0.5205 - accuracy: 0.7523

In [30]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

203/203 - 0s - loss: 0.5288 - accuracy: 0.7501 - 366ms/epoch - 2ms/step
Loss: 0.5287904143333435, Accuracy: 0.7501156330108643

In [31]:
nn.save('/content/AlphabetSoupCharity_Optimization.h5')